 /* colores y temas */
:root {
  /* Fondos */
  --color-bg:           #181925;
  --color-bg-surface:   #232638;
  --color-bg-elevated:  #1e2130;

  /* Texto */
  --color-text:         #f0f4ff;
  --color-text-muted:   #8b90b0;
  --color-text-subtle:  #555a7a;

  --color-accent:       #C0F5FA;
  --color-accent-dim:   rgba(192, 245, 250, 0.1);
  --color-accent-border: rgba(192, 245, 250, 0.25);

  --color-success:      #4ade80;
  --color-warning:      #facc15;
  --color-danger:       #f87171;
  --color-info:         #60a5fa;
  --color-purple:       #a78bfa;
  --color-border:       rgba(192, 245, 250, 0.1);

  /* Scrollbar */
  --color-scrollbar-track: #1e2130;
  --color-scrollbar-thumb: rgba(192, 245, 250, 0.25);
}
/* el otro tema de colores*/

body[data-theme='claro'] {
  --color-bg:           #f4f6fb;
  --color-bg-surface:   #ffffff;
  --color-bg-elevated:  #e8ecf5;

  --color-text:         #1a1c2e;
  --color-text-muted:   #4a4f6a;
  --color-text-subtle:  #8b90b0;

  --color-accent:       #1a73c8;
  --color-accent-dim:   rgba(26, 115, 200, 0.08);
  --color-accent-border: rgba(26, 115, 200, 0.3);

  --color-success:      #16a34a;
  --color-warning:      #d97706;
  --color-danger:       #dc2626;
  --color-info:         #2563eb;
  --color-purple:       #7c3aed;

  --color-border:       rgba(26, 115, 200, 0.15);

  --color-scrollbar-track: #e8ecf5;
  --color-scrollbar-thumb: rgba(26, 115, 200, 0.3);
}


*, *::before, *::after { box-sizing: border-box; margin: 0; padding: 0; }

body {
  background: var(--color-bg);
  color: var(--color-text);
  font-family: system-ui, -apple-system, sans-serif;
  min-height: 100vh;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  transition: background 0.25s ease, color 0.25s ease;
}

/* el scroll personalizado */

::-webkit-scrollbar { width: 6px; }
::-webkit-scrollbar-track { background: var(--color-scrollbar-track); }
::-webkit-scrollbar-thumb { background: var(--color-scrollbar-thumb); border-radius: 3px; }

/* los detalles del formulario */

input, select, textarea {
  font-family: inherit;
  background: var(--color-bg-elevated);
  color: var(--color-text);
  border: 1px solid var(--color-border);
  border-radius: 8px;
  padding: 9px 12px;
  font-size: 13px;
  width: 100%;
  outline: none;
  transition: border-color 0.2s, background 0.2s;
}

input:focus, select:focus, textarea:focus {
  border-color: var(--color-accent);
  box-shadow: 0 0 0 2px var(--color-accent-dim);
}

input::placeholder, textarea::placeholder { color: var(--color-text-subtle); }
select option { background: var(--color-bg-surface); color: var(--color-text); }

/* los botones y sus efectos */

button {
  font-family: inherit;
  cursor: pointer;
  border: none;
  border-radius: 8px;
  transition: opacity 0.15s, transform 0.1s;
}

button:active { transform: scale(0.97); }
button:hover { opacity: 0.88; }
